.title{
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
}

.subtitle{
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 23px;
  font-style: italic;
}

.texto{
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 18px;
}

.datos{
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 16px;  
}

.menu-seleccion{
  background-color: white;
}

.pie{
  background-color: white;
  size: 100%;
}

.cuerpo{
  background-color: white;
  size: 100%;
}

.boton-modificar{
  height: 65px;
}
/*
.ant-btn{
  margin-left: 90%;
  height: 50px;
}*/

.colocar{
  width: 25%;
  margin-left: 75%;
}